%h1 
  = "Prowl SMS messenger"
%form{:method => 'post', :action => '/prowlsms/send', :class => 'form'}
  %div
    %label From:
    %br
    %input{:type => 'text', :name => 'from'}
  %div
    %label Subject:
    %br
    %input{:type => 'text', :name => 'subject'}
  %div
    %label Text:
    %br
    %textarea{:name => 'text', :rows => 8, :cols => 40}
  %div
    %input{:type => 'submit', :value => 'Enviar'}
