%h1 
  = @apptitle
%form{:method => 'post', :action => '/send', :class => 'form'}
  %div
    %label From:
    %br
    %input{:type => 'text', :name => 'from'}
  %div
    %label Subject:
    %br
    %input{:type => 'text', :name => 'subject'}
  %div
    %label Text:
    %br
    %textarea{:name => 'text', :rows => 8, :cols => 40}
  %div
    %br
    = captcha_image_tag
    %br
    Escribe el texto que aparece arriba
    %br
    = captcha_answer_tag
  %div
    %input{:type => 'submit', :value => 'Enviar'}
